<div class="container" style="padding-top: 60px;">
    <div class="row">
        <div class="col-6 offset-3">
            
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data" style="padding-top: 100px; color:gray">
            <h5>Modificar la novedad</h5>
                <div class="form-group">
                    <input type="hidden" class="form-control" value="{{novedad.id}}" name="id">
                </div>
                <div class="form-group">
                    <h5>Titulo:</h5><input type="text" class="form-control" placeholder="Titulo" value="{{novedad.titulo}}" name="titulo">
                </div>
                <div class="form-group">
                    <h5>Subitulo:</h5><textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="form-group">
                    <label style="color:grey;"><h5> Imagen:</h5> <input type="file" name="imagen" id="imagen"/></label>
                </div>
                <p>
                    <label style="color:grey;"><input type="checkbox" name="img_delete" id="img_delete" value="1"> Eliminar imagen actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                </p>
                <div class="form-group">
                    <h5>Cuerpo:</h5><textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>